# Ignore all directores and all sub-directories
data/*/**
# Ignore all files in current directory
data/*.*
# Dont ignore WaitingWorld1 and its subfolders
!data/WaitingWorld1/**
# Dont ignore Jars in Plugins Folder except the bingo jar
!data/plugins/*.jar
data/plugins/bingo-1.0.jar



